$color1:#33658A;
$color2:#86BBD8;
$color3:#2F4858;
$color4:#F6AE2D;
$color5:#F26419;
$color6:#FE4A49;
$color7:#FED766;
$color8:#009FB7;

$white:#fff;

$black:#000;
$black1:#111;
$black2:#222;
$black3:#333;
$black4:#444;

$gray:#666;
$gray1:#777;
$gray2:#888;
$gray3:#999;
$gray4:#aaa;

//Social Media Color
$facebook:#4267b2;
$twitter:#1da1f2;
$instagram:#C24E00;
$youtube:hsl(0, 100%, 50%);
$pinterest:#bd081c;
$tumblr:#36465d;
$like:#00B800;
$dislike:#bd081c;

//fonts
$light:'avenir-light';
$medium:'avenir-roman';
$bold:'avenir-medium';
$font-base: 'avenir-light', Arial, sans-serif;
$icons:'FontAwesome';

//width
$center1:960px;
$center2:720px;
$center3:1250px;

//height
$headerHeight:60px;

//em base
$em-base: 14px;

